<nav class="navbar navbar-expand-md navar-dark bg-primary fixed-top">
	<div class="container">
		<a class="navbar-brand text-white" routerLink="/" routerLinkActive="active">Matchify</a>

		@if(true){
		<ul class="navbar-nav me-auto mb-2 mb-md-0">
			<li class="nav-item">
				<a routerLink="/members" routerLinkActive="active" class="nav-link text-white">Matches</a>
			</li>
			<li class="nav-item">
				<a routerLink="/lists" routerLinkActive="active" class="nav-link text-white">Lists</a>
			</li>
			<li class="nav-item">
				<a routerLink="/messages" routerLinkActive="active" class="nav-link text-white">Messages</a>
			</li>
		</ul>
		}

		@if(account_services.currentUser()) {

		<div dropdown class="dropdown">
			<a dropdownToggle class="dropdown-toggle text-white">Welcome {{account_services.currentUser()?.username | titlecase }}</a>
			<div *dropdownMenu class="dropdown-menu">
				<a class="dropdown-item">Edit Profile</a>
				<div class="divider dropdown-divider"></div>
				<a class="dropdown-item" (click)="logout()">Logout</a>
			</div>
		</div>
		}

		@if(!account_services.currentUser()) {
		<form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex">
			<input name="username" [(ngModel)]="model.username" class="form-control me-2" placeholder="username" autocomplete="off">
			<input name="password" [(ngModel)]="model.password" type="password" class="form-control me-2 " placeholder="password">
			<button class="btn btn-secondary" type="submit">Login</button>
		</form>
		}

	</div>
</nav>
